body.light .course__presentation h3 {
  color: #6933ad;
}

body.light .course__presentation p {
  color: black;
}

body.dark .course__presentation {
  color: #FFF;
}

body.neumorphism .course__presentation {
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.30);
  color: black;
}

body.light .course__empty {
  color: black; 
}

body.dark .course__empty {
  color: #FFF;
}

body.neumorphism .course__empty {
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.30);
  color: black;
}