body.light .courselist__presentation h1 {
    color: #6933ad;
}

body.light .courselist__presentation p {
    color: black;
}

body.dark .courselist__presentation {
    color: #FFF;
}

body.neumorphism .courselist__presentation {
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.30);
    color: black;
}

.coursecard{
    @apply rounded-lg cursor-pointer transition-all duration-300;
}

body.light .coursecard {
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    background-color: #F8F8F8;
}

body.dark .coursecard {
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
    background-color: #48454f;
}

body.neumorphism .coursecard {
    background: #F5F0FE;
    box-shadow: -10px -10px 15px 0px #FFF, 10px 10px 15px 0px #D0CCD8;
}

body.dark .coursecard .coursecard__content {
    color: #FFF;
}

body.light .coursecard:hover, body.dark .coursecard:hover{
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);

}

.coursecard:hover{
    transform: scale(1.01);
}