.courselist__presentation.light h1 {
    color: #6933ad;
}

.courselist__presentation.light p {
    color: black;
}

.courselist__presentation.dark {
    color: #FFF;
}

.courselist__presentation.neumorphism {
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.30);
    color: black;
}

.coursecard{
    @apply rounded-lg cursor-pointer transition-all duration-300;
}

.coursecard.light {
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    background-color: #F8F8F8;
}

.coursecard.dark {
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
    background-color: #48454f;
}

.coursecard.neumorphism {
    background: #F5F0FE;
    box-shadow: -10px -10px 15px 0px #FFF, 10px 10px 15px 0px #D0CCD8;
}

.coursecard.dark .coursecard__content {
    color: #FFF;
}

.coursecard.light:hover, .coursecard.dark:hover{
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);

}

.coursecard:hover{
    transform: scale(1.01);
}