body.neumorphism .exam__title {
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.20);
    color: black;
}

body.light .exam__title {
    color: #6933ad;
}

body.dark .exam__container {
    color: #FFF;
}

body.light .exam__question--container {
    background-color: #F8F8F8;
}

body.dark .exam__question--container  {
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
    background-color: #48454f;
}

body.neumorphism .exam__question--container {
    background: #e5d9f2;
    background: linear-gradient(115deg, rgba(255,255,255,1) 0%, rgba(232,221,244,1) 50%);
    box-shadow:  6px 6px 14px #bcaad0, -6px -6px 14px #ffffff;
}

.question__option {
    @apply text-sm lg:text-base transition-all duration-300 hover:scale-[1.01];
}

.question__option input[type="radio"] {
    display: none;
}

.question__option label {
    position: relative;
    padding: 10px 30px;
    border-radius: 10px;
    align-items: center;
    cursor: pointer;
    display: flex;
}

body.light .question__option label {
    background-color: #fff;
}

body.dark .question__option label {
    background-color: #37343e;
}

body.neumorphism .question__option label {
    box-shadow:  6px 6px 14px #bcaad0, -6px -6px 14px #ffffff;
}

.question__option label::before {
    content: "";
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 10px;
}

body.light .question__option label::before {
    border: 3px solid #6933ad;
    background-color: #fff;
}

body.dark .question__option label::before {
    border: 3px solid #f8f8f8;
    background-color: #37343e;
}

body.neumorphism .question__option label::before {
    border: 3px solid #9371d0;
    background-color: transparent;
}

body.light .question__option input[type="radio"]:checked + label {
    background-color: #6933ad;
    color: #fff;
}

body.dark .question__option input[type="radio"]:checked + label {
    background-color: #665483;
    color: #fff;
}

body.neumorphism .question__option input[type="radio"]:checked + label {
    background: linear-gradient(145deg, #9c7ed8, #7342b0);
    color: white;
}

.question__option input[type="radio"]:checked + label::before {
    height: 8px;
    width: 8px;
    border: 6px solid #fff;
}

.exam__button--submit button {
    @apply transform rounded-full py-2 px-4 duration-300 hover:scale-105;
}

.exam__button--submit button:disabled {
    @apply rounded-full py-2 px-4 opacity-50 cursor-not-allowed hover:scale-100;
}

body.light .exam__button--submit button {
    background-color: #e55503;
    color: #fff;
}

body.dark .exam__button--submit button {
    @apply bg-[#786396] text-white;
}

body.neumorphism .exam__button--submit button {
    font-weight: 700;
    background: #e2d2f4;
    background: linear-gradient(115deg, rgba(255, 255, 255, 0.4) 0%, rgba(232, 221, 244, 1) 100%);
    box-shadow: 6px 6px 14px #bcaad0, -6px -6px 14px #ffffff;
    text-shadow: 0px 2px 4px rgba(103, 102, 102, 0.3);
}

body.neumorphism .exam__button--submit button:hover {
    background: linear-gradient(145deg, #9c7ed8, #7342b0);
    color: #FFFAFF;
}

body.neumorphism .exam__button--submit button:disabled:hover {
    background: linear-gradient(115deg, rgba(255, 255, 255, 0.4) 0%, rgba(232, 221, 244, 1) 100%);
    color: black;
}

.ask__option label {
    @apply text-sm lg:text-base transition-all duration-300 hover:scale-[1.01];
}

.ask__option input[type="radio"]:disabled + label {
    @apply cursor-not-allowed hover:scale-100;
}

.ask__option label::before {
    content: "";
    width: 1.25rem;
    height: 1.25rem;
    border-radius: 50%;
    margin-right: 15px;
}

@media (max-width: 750px) {
    .ask__option label::before {
        display: none;
    }
}

body.light .ask__option label {
    background-color: #fff;
}

body.dark .ask__option label {
    background-color: #37343e;
}

body.neumorphism .ask__option label {
    box-shadow:  6px 6px 14px #bcaad0, -6px -6px 14px #ffffff;
}

.ask__option input[type="radio"] {
    display: none;
}

.ask__option label {
    position: relative;
    padding: 10px 20px;
    border-radius: 10px;
    width: 100%;
    align-items: center;
    cursor: pointer;
    display: flex;
}

body.light .ask__option label::before {
    border: 3px solid #6933ad;
    background-color: #fff;
}

body.dark .ask__option label::before {
    border: 3px solid #f8f8f8;
    background-color: #37343e;
}

body.neumorphism .ask__option label::before {
    border: 3px solid #9c7ed8;
    background-color: transparent;
}

body.light .ask__option input[type="radio"]:checked + label {
    background-color: #6933ad;
    color: #fff;
}

body.dark .ask__option input[type="radio"]:checked + label {
    background-color: #665483;
    color: #fff;
}

body.dark .ask__option input[type="radio"]:checked + label::before {
    background-color: #665483;
}

body.neumorphism .ask__option input[type="radio"]:checked + label {
    background: linear-gradient(145deg, #9c7ed8, #7342b0);
    color: white;
}

body.neumorphism .ask__option input[type="radio"]:checked + label::before {
    background-color: #faf8fd;
}

.exam__question--container.correct .ask__option input[type="radio"]:checked + label::before {
    content: '\2713';
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;
}

body.light .exam__question--container.correct .ask__option input[type="radio"]:checked + label {
    background-color: rgba(35, 155, 35, 0.28);
    color: green;
}

body.light .exam__question--container.correct .ask__option input[type="radio"]:checked + label::before {
    color: green;
}

body.dark .exam__question--container.correct .ask__option input[type="radio"]:checked + label {
    background-color: rgba(69, 121, 69, 0.30);
    color: rgb(85, 155, 85);
}

body.dark .exam__question--container.correct .ask__option input[type="radio"]:checked + label::before {
    color: rgb(85, 155, 85);
}

body.neumorphism .exam__question--container.correct .ask__option input[type="radio"]:checked + label {
    background: rgb(239,251,225);
    background: linear-gradient(114deg, rgba(239, 251, 225, 0.726) 0%, rgba(192, 228, 159, 0.623) 100%);
    color: #6fb035;
    text-shadow: 0px 2px 4px rgba(110, 195, 34, 0.3);
}

body.neumorphism .exam__question--container.correct .ask__option input[type="radio"]:checked + label::before {
    color: #6fb035;
}

.exam__question--container.incorrect .ask__option input[type="radio"]:checked + label::before {
    content: '\2717';
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;
}

body.light .exam__question--container.incorrect .ask__option input[type="radio"]:checked + label {
    background-color: rgba(255, 0, 0, 0.28);
    color: rgb(194, 36, 36);
}

body.light .exam__question--container.incorrect .ask__option input[type="radio"]:checked + label::before {
    color: red;
}

body.dark .exam__question--container.incorrect .ask__option input[type="radio"]:checked + label {
    background-color: rgba(162, 51, 51, 0.30);
    color: rgb(194, 91, 91);
}

body.dark .exam__question--container.incorrect .ask__option input[type="radio"]:checked + label::before {
    color: rgb(194, 91, 91);
}

body.neumorphism .exam__question--container.incorrect .ask__option input[type="radio"]:checked + label {
    background: rgb(251,201,201);
    background: linear-gradient(85deg, rgba(251, 201, 201, 0.71rgba(231, 122, 100, 0.543),100,1) 100%);
    color: #ba4444;
    text-shadow: 0px 2px 4px rgba(193, 23, 23, 0.3);
}
  
  
  
  
  