.lecturecard{
    @apply rounded-xl transition-all duration-300;
}

.lecturecard__media button{
    @apply transform transition-all duration-300 hover:scale-105;
}

body.light .lecturecard {
    background-color: #F8F8F8;
}

body.dark .lecturecard {
    background-color: #48454f;
}

body.neumorphism .lecturecard {
    background: #e5d9f2;
    background: linear-gradient(115deg, rgba(255,255,255,1) 0%, rgba(232,221,244,1) 50%);
    box-shadow:  6px 6px 14px #bcaad0, -6px -6px 14px #ffffff;
}

body.light .lecturecard__img {
    background: #7342b0;
}

body.dark .lecturecard__img {
    background: #564869;
}

body.neumorphism .lecturecard__img {
    background: linear-gradient(180deg, #9c7ed8 0%, #7342b0 100%);
    box-shadow: -10px -10px 15px 0px #FFF, 10px 10px 15px 0px #D0CCD8;
}

body.light .lecturecard__content, body.neumorphism .lecturecard__content {
    color: black;
}

body.dark .lecturecard__content {
    color: #FFF;
}

body.light .lecturecard__media button {
    background: #7342b0;
    border-radius: 7px;
    color: #ffffff7f;
}

body.dark .lecturecard__media button {
    background: #766f87;
    border-radius: 7px;
    color: #ffffff7f;
}

body.neumorphism .lecturecard__media button {
    border-radius: 7px;
    background: #e5d9f2;
    background: linear-gradient(115deg, rgba(255,255,255,1) 0%, rgba(232,221,244,1) 50%);
    box-shadow:  6px 6px 14px #bcaad0, -6px -6px 14px #ffffff;
}
