.lecturecard{
    @apply rounded-lg transition-all duration-300;
}

body.light .lecturecard {
    background-color: #F8F8F8;
}

body.dark .lecturecard {
    background-color: #48454f;
}

body.neumorphism .lecturecard {
    background: #F5F0FE;
    box-shadow: -10px -10px 15px 0px #FFF, 10px 10px 15px 0px #D0CCD8;
}

body.light .lecturecard__img {
    background: #6933ad;
}

body.dark .lecturecard__img {
    background: #564869;
}

body.neumorphism .lecturecard__img {
    background: linear-gradient(180deg, #6933AD 0%, #562792 100%);
    box-shadow: -10px -10px 15px 0px #FFF, 10px 10px 15px 0px #D0CCD8;
}

body.light .lecturecard__content, body.neumorphism .lecturecard__content {
    color: black;
}

body.dark .lecturecard__content {
    color: #FFF;
}

body.light .lecturecard__media button {
    background: #6933ad;
    border-radius: 5px;
    color: #ffffff7f;
}

body.dark .lecturecard__media button {
    background: #766f87;
    border-radius: 5px;
    color: #ffffff7f;
}

body.neumorphism .lecturecard__media button {
    border-radius: 5px;
    background: linear-gradient(135deg, #FFFAFF 0%, #DAD3E5 100%);
    box-shadow: -5px -5px 11px 0px #FFF, 5px 5px 11px 0px #CEC8D9;
    color: #6933AD;
}
