body.dark .lesson__viewer__content .lesson__viewer__text {
    color: #FFF;
}

body.dark .lesson__viewer__content .lesson__viewer__title {
    color: #FFF;
}

body .lesson__viewer__content .lesson__viewer__text h4 {
    padding-top: 1rem;
    padding-bottom: 0.5rem;
    font-weight: 700;
    font-size: 24px;
}

body.neumorphism .lesson__viewer__content .lesson__viewer__text h4
body.neumorphism .lesson__viewer__content .lesson__viewer__title {
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.20);
}

