body.dark .lesson__viewer__content .lesson__viewer__text {
    color: #FFF;
}

body.dark .lesson__viewer__content .lesson__viewer__title {
    color: #FFF;
}

body .lesson__viewer__content .lesson__viewer__text h4 {
    padding-top: 1rem;
    padding-bottom: 0.5rem;
    font-weight: 700;
    font-size: 24px;
}

body.neumorphism .lesson__viewer__content .lesson__viewer__text h4
body.neumorphism .lesson__viewer__content .lesson__viewer__title {
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.20);
}

.lesson__return button {
    @apply transform text-[16px] rounded-full py-2 px-4 duration-300 hover:scale-105;
}

body.light .lesson__return button {
    @apply bg-[#e55503] text-white;
}

body.dark .lesson__return button {
    @apply bg-[#786396] text-white;
}

body.neumorphism .lesson__return button {
    font-weight: 700;
    background: #e2d2f4;
    background: linear-gradient(115deg, rgba(255, 255, 255, 0.4) 0%, rgba(232, 221, 244, 1) 100%);
    box-shadow: 6px 6px 14px #bcaad0, -6px -6px 14px #ffffff;
    text-shadow: 0px 2px 4px rgba(103, 102, 102, 0.3);
}

body.neumorphism .lesson__return button:hover {
    background: linear-gradient(145deg, #9c7ed8, #7342b0);
    color: #FFFAFF;
}