.img1.light, .img2.light, .img3.light, .img4.light {
    background: #f8f8f8;
}

.img1.dark, .img2.dark, .img3.dark, .img4.dark {
    background: #766F87;
}

.img1.neumorphism, .img2.neumorphism, .img3.neumorphism, .img4.neumorphism {
    background: linear-gradient(180deg, #6933AD 0%, #562792 100%);
    box-shadow: -10px -10px 15px 0px #FFF, 10px 10px 15px 0px #D0CCD8;
}

.inscribedcourse.light {
    background: #f8f8f8;
}

.inscribedcourse.dark{
    background: #48454F;
}

.inscribedcourse.neumorphism{
    background: #F5F0FE;
    box-shadow: -10px -10px 15px 0px #ffffffd2, 10px 10px 15px 0px #D0CCD8;
}

.inscribedlist__header.dark {
    color:#f3f3f3;
}

.inscribedlist__header.neumorphism {
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.30);
}

.inscribedcourse.light .inscribedcourse__presentation .img {
    background: #6933ad;
}

.inscribedcourse.dark .inscribedcourse__presentation .img {
    background: #766f87;
}

.inscribedcourse.dark {
    color: #f3f3f3;
}

.inscribedcourse.neumorphism .inscribedcourse__presentation .img {
    background: linear-gradient(180deg, #6933AD 0%, #562792 100%);
    box-shadow: -10px -10px 15px 0px #FFF, 10px 10px 15px 0px #D0CCD8;
}