body.light .img1, body.light .img2, body.light .img3, body.light .img4 {
    background: #f8f8f8;
}

body.dark .img1, body.dark .img2, body.dark .img3, body.dark .img4  {
    background: #766F87;
}

body.neumorphism .img1, body.neumorphism .img2, body.neumorphism .img3, body.neumorphism .img4 {
    background: linear-gradient(145deg, #9c7ed8, #7342b0);
    box-shadow:  5px 6px 15px 0px #c1b5da;
    border: 1px solid #9c7ed8
}

body.light .inscribedcourse {
    background: #f8f8f8;
}

body.dark .inscribedcourse{
    background: #48454F;
}

body.neumorphism .inscribedcourse{
    background: #e5d9f2;
    background: linear-gradient(115deg, rgba(255,255,255,1) 0%, rgba(232,221,244,1) 50%);
    box-shadow:  6px 6px 14px #bcaad0, -6px -6px 14px #ffffff;
}

body.dark .inscribedlist__header {
    color:#f3f3f3;
}

body.neumorphism .inscribedlist__header {
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.20);
}

body.light .inscribedcourse .inscribedcourse__presentation .img {
    background: #7342b0;
}

body.dark .inscribedcourse .inscribedcourse__presentation .img {
    background: #766f87;
}

body.dark .inscribedcourse {
    color: #f3f3f3;
}

body.neumorphism .inscribedcourse .inscribedcourse__presentation .img {
    background: linear-gradient(145deg, #9c7ed8, #7342b0);
    box-shadow: -10px -10px 15px 0px #FFF, 5px 6px 10px 0px #c1b5da;
}

body.light .unfinished__course {
    background-color: #1b1d21;
    color: white;
}

body.dark .unfinished__course {
    background-color: #f8f8f8;
    color: #37343e
}

body.neumorphism .unfinished__course {
    background: #e5d9f2;
    background: linear-gradient(115deg, rgba(255,255,255,1) 0%, #e8ddf4 50%);
    box-shadow:  6px 6px 14px #bcaad0, -6px -6px 14px #ffffff;
    color: black;
}