
.sidebar{
    @apply rounded-2xl overflow-hidden;
}

body.light .sidebar{
    background: #1B1D21;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
}

body.dark .sidebar{
    border: 1px solid #5A4773;
    background: #665483;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
}

body.neumorphism .sidebar{
    border: 1px solid #7342b0;
    background: linear-gradient(145deg, #9c7ed8, #7342b0);
    box-shadow: -10px -10px 15px 0px #FFF, 5px 6px 10px 0px #c1b5da;
}

body.neumorphism .sidebar .sidebar__top .sidebar__logo {
    background: #fff;
    box-shadow:  0px 2px 6px rgba(0, 0, 0, 0.20);
}

body.neumorphism .sidebar .sidebar__top .sidebar__logo img {
    opacity: 0.8;
    box-shadow: none;
}

.sidebar .sidebar__top .sidebar__menu .sidebar__menu-item{

    @apply h-12 w-full rounded-lg flex items-center justify-center transition-all duration-300;
}

body.neumorphism .sidebar__top .sidebar__menu .sidebar__menu-item{
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.40);
}

body.light .sidebar .sidebar__top .sidebar__menu .sidebar__menu-item:hover{
    background-color: #2F3136;
    opacity: 80%;
}

body.dark .sidebar .sidebar__top .sidebar__menu .sidebar__menu-item:hover{
    background-color: #786396;
}

body.neumorphism .sidebar .sidebar__top .sidebar__menu .sidebar__menu-item:hover{
    background: #8f6bcb;
    box-shadow: inset -6px -6px 6px #8462bb,
            inset 6px 6px 6px #9a74db;
}

.sidebar .sidebar__bottom button{
    @apply h-12 w-full rounded-lg flex items-center mx-auto transform  hover:scale-110 justify-center transition-all duration-300;
}