
.topbar{
    @apply sticky top-0 z-10;
}

.topbar .topbar__searchbar{
    display: flex;
    align-items: center;
    justify-content: center;
    @apply h-10 rounded-lg px-4 py-2 w-96 transition-all duration-300 text-lg text-customText;
}

body.dark .topbar .topbar__searchbar{
    @apply bg-[#48454F];
}

body.dark .topbar .topbar__searchbar:hover{
    @apply bg-[#766F87];
}

body.dark .topbar .topbar__searchbar:focus-within{
    @apply bg-[#766F87];
}

body.dark .topbar .topbar__searchbar .topbar__search-button{
    @apply text-[#f3f3f3];
}

body.dark .topbar .topbar__searchbar .topbar__search-input::placeholder,
body.dark .topbar .topbar__searchbar .topbar__search-input:focus-within::placeholder,
body.dark .topbar .topbar__searchbar .topbar__search-input:focus-within::-webkit-input-placeholder,
body.dark .topbar .topbar__searchbar .topbar__search-input:hover::placeholder,
body.dark .topbar .topbar__searchbar .topbar__search-input:hover::-webkit-input-placeholder{
    color: #FFFAFF
}

body.neumorphism .topbar .topbar__searchbar{
    background: linear-gradient(135deg, #FFFAFF 0%, #DAD3E5 100%);
    box-shadow: -5px -5px 11px 0px #FFF, 5px 5px 11px 0px #CEC8D9;
}

body.neumorphism .topbar .topbar__searchbar:hover{
    background: #6933AD;
    box-shadow: -10px -10px 20px 0px #6933AD inset, 10px 10px 20px 0px #501B93 inset;
    color: #FFF;
}

body.neumorphism .topbar .topbar__searchbar:focus-within{
    background: #6933AD;
    box-shadow: -10px -10px 20px 0px #6933AD inset, 10px 10px 20px 0px #501B93 inset;
    color: #FFF;
}

body.neumorphism .topbar .topbar__searchbar .topbar__search-input:focus-within::placeholder,
body.neumorphism .topbar .topbar__searchbar .topbar__search-input:focus-within::-webkit-input-placeholder,
body.neumorphism .topbar .topbar__searchbar .topbar__search-input:hover::placeholder,
body.neumorphism .topbar .topbar__searchbar .topbar__search-input:hover::-webkit-input-placeholder{
    color: #FFFAFF
}

body.light .topbar .topbar__searchbar{
    @apply bg-[#F8F8F8];
}

body.light .topbar .topbar__searchbar:hover{
    @apply bg-gray-200;
}

body.light .topbar .topbar__searchbar:focus-within{
    @apply bg-gray-200;
}

.topbar .topbar__searchbar .topbar__search-input{
    @apply w-full h-full bg-transparent outline-none text-sm;
}

.topbar .topbar__searchbar .topbar__search-button{
    @apply ml-4;
}

.topbar .topbar__side-buttons{
    @apply flex gap-4 items-center max-md:hidden;
}

.topbar .topbar__side-buttons .topbar__button{
    @apply h-full rounded-lg py-2 px-4 flex items-center justify-center transition-all duration-300;
}

body.light .topbar .topbar__side-buttons .topbar__button{
    @apply bg-[#F8F8F8]
}

body.dark .topbar .topbar__side-buttons .topbar__button{
    @apply bg-[#48454f] text-[#f3f3f3] ;
}

body.neumorphism .topbar .topbar__side-buttons .topbar__button{
    background: linear-gradient(135deg, #FFFAFF 0%, #DAD3E5 100%);
    box-shadow: -5px -5px 11px 0px #FFF, 5px 5px 11px 0px #CEC8D9;
}

body.neumorphism .topbar .topbar__side-buttons .topbar__button:hover{
    background: #6933AD;
    box-shadow: -10px -10px 20px 0px #6933AD inset, 10px 10px 20px 0px #501B93 inset;
    color: #FFF;
}

body.light .topbar .topbar__side-buttons .topbar__button:hover{
    @apply bg-[#6933ad] text-white scale-105;
}

body.dark .topbar .topbar__side-buttons .topbar__button:hover{
    @apply bg-[#766F87] scale-105;
}