
.topbar{
    @apply sticky top-0 z-10;
}

.topbar .topbar__searchbar{
    display: flex;
    align-items: center;
    justify-content: center;
    @apply h-10 rounded-lg px-4 py-2 w-96 transition-all duration-300 text-lg text-customText;
}

body.dark .topbar .topbar__searchbar{
    @apply bg-[#48454F];
}

body.dark .topbar .topbar__searchbar:hover{
    @apply bg-[#766F87];
}

body.dark .topbar .topbar__searchbar:focus-within{
    @apply bg-[#766F87];
}

body.dark .topbar .topbar__searchbar .topbar__search-button{
    @apply text-[#f3f3f3];
}

body.dark .topbar .topbar__searchbar .topbar__search-input::placeholder,
body.dark .topbar .topbar__searchbar .topbar__search-input:focus-within::placeholder,
body.dark .topbar .topbar__searchbar .topbar__search-input:focus-within::-webkit-input-placeholder,
body.dark .topbar .topbar__searchbar .topbar__search-input:hover::placeholder,
body.dark .topbar .topbar__searchbar .topbar__search-input:hover::-webkit-input-placeholder{
    color: #FFFAFF
}

body.neumorphism .topbar .topbar__searchbar{
    background: #e5d9f2;
    background: linear-gradient(115deg, rgba(255,255,255,1) 0%, rgba(232,221,244,1) 50%);
    box-shadow:  6px 6px 14px #bcaad0, -6px -6px 14px #ffffff;
}

body.neumorphism .topbar .topbar__searchbar:hover{
    background: #8e6bc7;
    box-shadow: inset -6px -6px 12px #8362b7,
                inset 6px 6px 12px #9974d7;
    color: #FFF;
}

body.neumorphism .topbar .topbar__searchbar:focus-within{
    background: #8e6bc7;
box-shadow: inset -6px -6px 12px #8362b7,
            inset 6px 6px 12px #9974d7;
    color: #FFF;
}

body.neumorphism .topbar .topbar__searchbar .topbar__search-input:focus-within::placeholder,
body.neumorphism .topbar .topbar__searchbar .topbar__search-input:focus-within::-webkit-input-placeholder,
body.neumorphism .topbar .topbar__searchbar .topbar__search-input:hover::placeholder,
body.neumorphism .topbar .topbar__searchbar .topbar__search-input:hover::-webkit-input-placeholder{
    color: #FFFAFF
}

body.light .topbar .topbar__searchbar{
    @apply bg-[#F8F8F8];
}

body.light .topbar .topbar__searchbar:hover{
    @apply bg-gray-200;
}

body.light .topbar .topbar__searchbar:focus-within{
    @apply bg-gray-200;
}

.topbar .topbar__searchbar .topbar__search-input{
    @apply w-full h-full bg-transparent outline-none text-sm;
}

.topbar .topbar__searchbar .topbar__search-button{
    @apply ml-4;
}

.topbar .topbar__side-buttons{
    @apply flex gap-4 items-center max-md:hidden;
}

.topbar .topbar__side-buttons .topbar__button{
    @apply h-full rounded-lg flex items-center justify-center transform hover:scale-105 transition-all duration-300;
}

body.light .topbar .topbar__side-buttons .topbar__button{
    @apply bg-[#F8F8F8]
}

body.dark .topbar .topbar__side-buttons .topbar__button{
    @apply bg-[#48454f] text-[#f3f3f3] ;
}

body.neumorphism .topbar .topbar__side-buttons .topbar__button{
    background: #e2d2f4;
    background: linear-gradient(115deg, rgba(255,255,255,0.4) 0%, rgba(232,221,244,1) 100%);
    box-shadow:  6px 6px 14px #bcaad0, -6px -6px 14px #ffffff;
    text-shadow: 0px 2px 4px rgba(103, 102, 102, 0.3);
}

body.neumorphism .topbar .topbar__side-buttons .topbar__button:hover{
    background: #8f6bcb;
    box-shadow: inset -6px -6px 6px #8462bb,
            inset 6px 6px 6px #9a74db;
    color: #FFF;
}

body.light .topbar .topbar__side-buttons .topbar__button:hover{
    @apply bg-[#7342b0] text-white scale-105;
}

body.dark .topbar .topbar__side-buttons .topbar__button:hover{
    @apply bg-[#766F87] scale-105;
}

#btnLight {
    @apply py-[0.9rem] px-4
}

#btnDark {
    @apply py-[0.9rem] px-[1.09rem]
}

#btnNeu {
    @apply py-[0.9rem] px-[0.9rem]
}

#btnLight.active {
    @apply bg-[#7342b0] text-white
}

#btnDark.active {
    @apply bg-[#766F87] text-white
}

#btnNeu.active {
    background: linear-gradient(145deg, #9c7ed8, #7342b0);
    box-shadow: -10px -10px 15px 0px #FFF, 5px 6px 10px 0px #c1b5da;
    color: white;
    text-shadow: 0px 2px 4px rgba(10, 10, 10, 0.5);
}