.button-primary{
    background-color: #440099;
    border: none;
    padding: 15px 20px;
    transition: all 0.3s ease-in-out;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);

    @apply w-full rounded-lg text-white text-base font-semibold cursor-pointer text-white;
}

.button-primary:hover{
    opacity: 80%;
}