---
import EmptyLayout from "./EmptyLayout.astro";

export interface Props {
  title?: string;
  message?: string;
}

Astro.response.status = 404;

const defaultTitle = "Página no encontrada";

const { title = defaultTitle, message = defaultTitle } = Astro.props as Props;
---

<EmptyLayout title={title}>
  <div class="grid h-screen bg-[#1b1d21] px-4 place-content-center">
    <div class="text-center opacity-80">
      <h1 class="font-black text-gray-200 text-9xl mb-4">404</h1>

      <p class="text-3xl font-bold tracking-tight text-gray-100 sm:text-4xl">
        {message}
      </p>

      <p class="mt-4 mb-9 text-lg text-gray-200">
        No pudimos encontrar lo que buscas.
      </p>
      <a
        href="/"
        class="uppercase tracking-wide font-bold hover:scale-105 text-white bg-transparent border px-8 py-3 sm:text-base leading-[36px] transition-all duration-200 rounded-[50px] border-white text-center shadow-lg hover:bg-white hover:text-black hover:border-white"
      >
        Volver al Inicio
      </a>
    </div>
  </div>
</EmptyLayout>
