---
import EmptyLayout from "../layouts/EmptyLayout.astro";
import RegisterForm from "../components/RegisterForm";

const title = "Path2You LogIn";
---

<EmptyLayout title={title}>
  <div class="register-page w-full h-screen bg-customPrimary">
    <div class="register-page__container h-full 2xl:w-[1280px] mx-auto">
      <div class="register-page__form w-full md:w-1/2 mx-auto h-full p-4">
        <RegisterForm client:load />
      </div>
    </div>
  </div>
</EmptyLayout>
